services:

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - scoring-net

  frontend:
    build:
      context: ./newfrontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - scoring-net

networks:
  scoring-net:
    driver: bridge